* {
    margin: 0;
    padding: 0;
}
body{
	width:100%;
    font-family:"Helvetica Neue","Helvetica Narrow", "Arial", sans-serif;
}

h1{
	
}

#items{
	width:50%;
	/*background-color:#E9E9E9;	
	color:#000;
	margin-top:2%;
	border-radius: 5px 5px 5px 5px;*/
    float: left;
    padding: 50px;
}

.item {
    margin-bottom: 50px;
    border-bottom: 1px solid #999;
}

.shoppingcart{
width:35%;
/*position:absolute;
top:8%;	
right:0%;*/
float: right;
padding: 50px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a, li form, #menu p {
    display: block;
    color: white;
    text-align: center;
    padding: 4px 16px;
    text-decoration: none;
    font-family: "calibri";
    text-transform: uppercase;
}

li a:hover {
    color: #999;
}

#menu form, #menu p {
    display: inline;
    vertical-align: middle;
    margin: 14px 16px;
}

input {
    padding: 5px;
    border-radius: 2px;
    border: 1px solid #999;
}

#menu input, #menu button {
    border: none;
    margin: 0;
}

#menu {
    background: #333;
    padding: 15px;
}

button {
    border-radius: 2px;
    text-transform: none;
    padding: 5px 10px;
    border: 1px solid #999;
    margin: 15px 0;
}

button:hover {
    background-color:lightgrey;
}

#login {
    float: right;
}

#reg {
    width: 200px;
    margin: 20px auto;
    padding: 50px;
    box-shadow: 0 0 3px 3px #E3E3E3;
}

#reg button {
    
}

#content {
    
}

#checkout, #receipt {
    width: 800px;
    /*background-color: lightgrey;*/
    margin: 20px auto;
    padding: 50px;
    box-shadow: 0 0 3px 3px #E3E3E3;
    overflow: hidden;
}

#checkout form, #details {
    width: 50%;
    margin-top: 40px;
    float: right;
    text-align: center;
}

#checkout input {
    margin: 10px;
}

#checkoutitems, #products {
    width: 50%;
    float: left;
    margin-top: 40px;
}

#checkout h1, #receipt h1, #receipt h2, #receipt h3, #receipt h4 {
    text-align: center;
}

#receipt {
    
}